
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(to top,   rgba(149, 1, 68, 0.75),rgba(149, 1, 68, 0.75)),url(img/1_NZkAVIWw8eJM2NBKLJNpng.jpg);
    background-size: cover;
    width: 100%;
}
/*Menu*/
.header{
    color: white;
    text-decoration: none; 
}
/*NAV*/
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 10px;
    margin: 0;
   
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}   

/*Seccion*/
.inicio {
    height: 100vh;
    align-items: center;   
    padding:auto;
  }
.inicio .contenido-banner {
    margin: auto;
    padding:auto;
    text-align: center;
    background-color: #62022D;
    border-radius: 10px;
    max-width: 100vh;
    gap: 30px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.inicio .contenedor-img{
    padding-top: 20px;
}
.inicio .contenido-banner .contenedor-img img{
    border: 2px solid #fff;
    box-shadow: 0 0 10px #ffff;
    border-radius: 10%;
    width: 50%;

}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 45px;
    font-weight: normal;
    color: #ffff;
    margin-left: 10px;
}
.inicio .contenido-banner h2{
    font-size: 30px;
    font-weight: normal;
    color: #ffff;
    margin-left: 10px;
}
.inicio .contenido-banner .redes {
    display: flex;
    justify-content: center;
    gap: 50px;

}
.inicio .contenido-banner .redes a {
    color: #fff;
    font-size: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
}
.contenido-banner-sobremi{
    margin: auto;
    text-align: center;
    background-color: #62022D;
    border-radius: 10px;
    max-width: 1000px;
    padding: 40px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    
}
.contenedor-img-sobremi img{
    border: 2px solid #fff;
    box-shadow: 0 0 10px #ffff;
    border-radius: 10%;
}

.contenido-banner-sobremi p {
    color: #fff;
    text-align: justify;
    margin: 0;
    padding: 0;
    word-spacing: -1px;
    line-height: 1.5;     
    max-width: 400px;
}
.inicio .contenido-skill{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #62022D;
    border-radius: 10px;
    max-width: 1000px;
    padding: 40px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.contenido-skill .tabla-skills {
    justify-content: center;
    text-align: center;
    width: 10px;
    

}
.contenido-skill .tabla-skills .iconos img{
    width: 120px;
    height: auto;
}