
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(to top,   rgba(149, 1, 68, 0.75),rgba(149, 1, 68, 0.75)),url(img/1_NZkAVIWw8eJM2NBKLJNpng.jpg);
    background-size: cover;
    width: 100%;
}
/*Menu*/
.header{
    color: white;
    text-decoration: none; 
}
/*NAV*/
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 10px;
    margin: 0;
   
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}   

/*Seccion*/
.inicio {
    height: 100vh;
    align-items: center;   
    padding:auto;
  }
.inicio .contenido-banner {
    margin: auto;
    padding:auto;
    text-align: center;
    background-color: #62022D;
    border-radius: 10px;
    max-width: 100vh;
}
.inicio .contenedor-img{
    padding-top: 20px;
}
.inicio .contenido-banner .contenedor-img img{
    border: 2px solid #fff;
    display: block;
    box-shadow: 0 0 10px #ffff;
    border-radius: 90%;
    margin: auto;
    width: 400px;

}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 45px;
    font-weight: normal;
    color: #ffff;
    margin-left: 10px;
}
.inicio .contenido-banner h2{
    font-size: 30px;
    font-weight: normal;
    color: #ffff;
    margin-left: 10px;
}
.inicio .contenido-banner .redes {
    display: flex;
    justify-content: center;
    gap: 50px;

}
.inicio .contenido-banner .redes a {
    color: #fff;
    font-size: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
}
.sobre-mi{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}