
body{
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
    
}
/*Menu*/
.header-container{
    background-color: #950144;
    width: 100%;
}
.header{
    background-color:#950144 ;
    color: white;
    text-decoration: none;
    display: flex;
    
}
/*NAV*/
nav{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
nav,ul,li,a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 70px;
    margin: 7px;
    
}

/*Seccion*/
.incio{
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;      
}
.inicio .contenido-banner{
    padding: 20px;
    background-color:#950144 ;
    margin: auto;
    text-align: center;
    color: #ffff;
    height: 100vh;
    display: flex;
}
.contenedor-img{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
img{
    width: 60vh;
    border-radius: 40px;
    
}
h1,h2{
    font-size: 20px;
}